<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Product Id="5BBA5BE2-CCB9-4039-A187-F8B142EE6ACE"
           Name="Systematizer v1.2.1" 
           Language="1033" 
           Version="1.2.1" 
           Manufacturer="Divergent Labs" 
           UpgradeCode="5201E674-EC37-439C-8229-2A4A80BADB04">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Systematizer Installer"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version is already installed." />
    <Media Id="1" Cabinet="Systematizer.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="DivergentLabsSystematizer">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Systematizer">
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Systematizer.exe" Guid="4EC17582-45E4-421E-BCFD-7A31B700D746">
        <File Id="exe" Name="Systematizer.exe" Source="/Stage/SystematizerPublish/Systematizer.WPF.exe" KeyPath="yes" />
      </Component>
      <Component Id="templatedb" Guid="46E81A3A-4849-465C-B256-D2F6E610DB36">
        <File Id="templatedb" Name="template.sqlite" Source="/dev/Systematizer/template.sqlite" KeyPath="yes" />
      </Component>
      <Component Id="dbdriver" Guid="84241CC1-CD41-482A-8634-43083863DCB6">
        <File Id="dbdriver" Name="e_sqlite3.dll" Source="/Stage/SystematizerPublish/e_sqlite3.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="8E21367B-9104-4BBD-8F4E-58B2913976A4">
        <Shortcut Id="ApplicationShortcutMain" Name="Systematizer" Target="[INSTALLLOCATION]Systematizer.exe" WorkingDirectory="INSTALLLOCATION" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Divergent Labs\Systematizer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <Feature Id="ProductFeature" Title="Systematizer" Level="1" Display="expand" ConfigurableDirectory="INSTALLLOCATION">
			<ComponentRef Id="Systematizer.exe" />
			<ComponentRef Id="templatedb" />
			<ComponentRef Id="dbdriver" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir"/>
    <WixVariable Id="WixUILicenseRtf" Value="C:\dev\Systematizer\Systematizer.WPF.Installer\license.rtf" />
	</Product>
</Wix>

